.row{
    margin: 0%;
    padding: 0%;
}
.col{
    float: left;
    color: rgb(255, 255, 255);
}
.bg .row{
    background: linear-gradient(to right, #1a867d, #2b7e4b);
    clip-path: polygon(39% 0, 100% 0, 100% 100%, 21% 100%);
    height: 100vh;
    width: 100%;
}
.logo{
    position: absolute;
    top: 35%;
    left: 5%;
}
.heading label{
    position: absolute;
    font-size: 25px;
    top: 15%;
    font-weight: bold;
    color: white;
    z-index: 33;
    letter-spacing: 3px;
    display: none;
    left: 27%;
}
/* .list{
    border:2px solid black
} */
.lists{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}
.list1{
    grid-column: 1/ span 2;
}
.sidebar{
    grid-row: 2 / span 12;
    grid-column: 1 /span 2;
}
.list3{
    grid-column:3/span 11;
    grid-row: 1/span 2;
}
.list4{
    grid-column:3/span 11;
    grid-row: 3;
}
.list5{
    grid-column:3/span 11;
    grid-row: 4/span 10;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgba(197, 41, 41, 0.808);
}
.logo label{
    margin-left: 10px;
    font-weight: bold;
    color: green;
    letter-spacing: 3px;
    font-size: 25px;
}
.bg .colo{
    background: linear-gradient(to right, #1a867d, #328f56);
    box-shadow:1px 1px 3px 3px rgba(57, 71, 63, 0.39);
    color: white;
    z-index: 55;
}
.colo:hover{
    color: white;
    background-color: rgba(70, 219, 70, 0.829);
}
.bg{
    background-image: url('../images/logo.png');
    background-size: 50%;
    background-repeat: no-repeat;
}
.login{
    position: relative;
    top:150px;
    width: 100px;
}
@media (max-width:910px){
    .logo label{
        font-size: 20px;
    }
}
@media (max-width:800px){
    .logo label{
        font-size: 15px;
    }
}
@media (max-width:700px){
    .bg{
        background: linear-gradient(to right, #1a867d, #2b7e4b);
    }
    .bg .row{
        clip-path: polygon(0% 0%,100% 0%,100% 100%,20% 100%);
    }
    .logo img,.col1{
        display: none;
    }
    .login{
        /* width: 100%; */
        left: 13%;
    }
    .heading label{
        display: block;
    }
}
.menubar{
    background-color: rgba(197, 189, 189, 0.212);
}
.menubar div{
    display: flex;
    flex-direction: row;
}
.menubar a{
    list-style: none;
    margin-right: 5%;
    padding: 10px;
    color: black;
}
.list1 label {
    margin-left: 10px;
    color: rgb(30, 184, 30);
    font-size: 14px;
    font-weight: bold;
}
@media (max-width:1030px){
    .list1 label {
        color: rgb(30, 184, 30);
        font-size: 10px;
    }
    .list1 img {
        width: 20px;
        height: 20px;
    }   
}
.box{
    box-shadow: 1px 1px 6px 1px rgb(216, 201, 201);
    padding: 20px 10px;
    border-radius: 10px;
}
.box input{
    border: none;
    border-bottom: 1px solid rgba(161, 148, 148, 0.575);
    border-radius: 0;
}
h6 p{
    border-bottom: 2px solid green;
    width:50px;
}
.box select{
    border: none;
    border-bottom: 1px solid rgba(161, 148, 148, 0.575);
    border-radius: 0;
    color: rgb(114, 112, 108);
}
.form{
    margin-bottom: 30%;
}
@media (max-width:710px){
    .list1{display: none;}
    .sidebar{
        display: none;
    }
    .list3{
        grid-column:1/span 12;
        grid-row: 1/span 2;
    }
    .list4{
        grid-column:1/span 12;
        grid-row: 3;
    }
    .list5{
        grid-column:1/span 12;
        grid-row: 4/span 10;
    }
}