.col{
    float: left;
    color: rgb(255, 255, 255);
}
.row{
    background: linear-gradient(to right, #1a867d, #2b7e4b);
    clip-path: polygon(39% 0, 100% 0, 100% 100%, 21% 100%);
    height: 99vh;
}
.logo{
    position: absolute;
    top: 35%;
    left: 5%;
}
.heading label{
    position: absolute;
    font-size: 25px;
    top: 15%;
    font-weight: bold;
    color: white;
    z-index: 33;
    letter-spacing: 3px;
    display: none;
    left: 27%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgba(197, 41, 41, 0.808);
}
.logo label{
    margin-left: 10px;
    font-weight: bold;
    color: green;
    letter-spacing: 3px;
    font-size: 25px;
}
.colo{
    background: linear-gradient(to right, #1a867d, #328f56);
    box-shadow:1px 1px 3px 3px rgba(57, 71, 63, 0.39);
    color: white;
    z-index: 55;
}
.colo:hover{
    color: white;
    background-color: rgba(70, 219, 70, 0.829);
}
.bg{
    background-image: url('../images/logo.png');
    background-size: 50%;
    background-repeat: no-repeat;
}
.login{
    position: relative;
    top:150px;
    width: 100px;
}
@media (max-width:910px){
    .logo label{
        font-size: 20px;
    }
}
@media (max-width:800px){
    .logo label{
        font-size: 15px;
    }
}
@media (max-width:700px){
    .bg{
        background: linear-gradient(to right, #1a867d, #2b7e4b);
    }
    .row{
        clip-path: polygon(0% 0%,100% 0%,100% 100%,20% 100%);
    }
    .logo img,.col1{
        display: none;
    }
    .login{
        width: 100%;
        left: 13%;
    }
    .heading label{
        display: block;
    }
}